* {
  font-family: Consolas, Menlo, monospace;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  color: #444;
}

#avatar img {
  width: 160px;
  height: 160px;
  border-radius: 80px;
}

#title {
  font-size: 2rem;
  font-weight: 300;
}

#all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 1rem;
}

#content {
  padding-bottom: 120px;
}

#email {
  word-break: break-all;
  font-size: 1.8rem;
}

#email a {
  color: #5AA3B5;
  text-decoration: none;
}

.links a {
  border: 0;
  padding: 0.5rem;
  color: black;
  text-decoration: none;
}

.links a img {
  height: 3rem;
  width: 3rem;
}
